.geany_allEditorBg { color:#000000; background-color:#DAF2F2; font-weight:normal; font-style:normal; }
.geany_attribute { color:#800080; background-color:#DAF2F2; font-weight:bold; font-style:normal; }
.geany_backtick { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_brace_bad { color:#000000; background-color:#00FF00; font-weight:normal; font-style:normal; }
.geany_brace_good { color:#FFFFFF; background-color:#FF00FF; font-weight:normal; font-style:normal; }
.geany_call_tips { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_caret { color:#802000; background-color:#FFFFFF; font-weight:bold; font-style:normal; }
.geany_character { color:#FFFFFF; background-color:#B7CCCC; font-weight:normal; font-style:normal; }
.geany_class { color:#000000; background-color:#DAF2F2; font-weight:normal; font-style:normal; }
.geany_comment { color:#007080; background-color:#CEE5E5; font-weight:normal; font-style:italic; }
.geany_comment_doc { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_comment_doc_keyword { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_comment_doc_keyword_error { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_comment_line { color:#007080; background-color:#CEE5E5; font-weight:normal; font-style:italic; }
.geany_comment_line_doc { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_current_line { color:#000000; background-color:#FFFFC0; font-weight:normal; font-style:normal; }
.geany_decorator { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_default { color:#000000; background-color:#DAF2F2; font-weight:normal; font-style:normal; }
.geany_fold_symbol_highlight { color:#011597; background-color:#B7CCCC; font-weight:normal; font-style:normal; }
.geany_function { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_here_doc { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_identifier { color:#6F5F7F; background-color:#DAF2F2; font-weight:normal; font-style:normal; }
.geany_identifier_1 { color:#FF7E7E; background-color:#DAF2F2; font-weight:normal; font-style:italic; }
.geany_identifier_2 { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_identifier_3 { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_identifier_4 { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_indent_guide { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_keyword { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_keyword_1 { color:#000080; background-color:#DAF2F2; font-weight:bold; font-style:normal; }
.geany_keyword_2 { color:#7F0055; background-color:#DAF2F2; font-weight:normal; font-style:normal; }
.geany_keyword_3 { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_keyword_4 { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_label { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_margin_folding { color:#000000; background-color:#B7CCCC; font-weight:normal; font-style:normal; }
.geany_margin_line_number { color:#000000; background-color:#CEE5E5; font-weight:normal; font-style:normal; }
.geany_marker_line { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_marker_mark { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_marker_search { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_number { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_number_1 { color:#800080; background-color:#DAF2F2; font-weight:normal; font-style:normal; }
.geany_number_2 { color:#007F47; background-color:#DAF2F2; font-weight:normal; font-style:normal; }
.geany_operator { color:#FF00FF; background-color:#DAF2F2; font-weight:bold; font-style:normal; }
.geany_other { color:#BF0000; background-color:#DAF2F2; font-weight:normal; font-style:normal; }
.geany_parameter { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_preprocessor { color:#BF0000; background-color:#DAF2F2; font-weight:bold; font-style:normal; }
.geany_regex { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_selection { color:#000000; background-color:#FF8020; font-weight:normal; font-style:normal; }
.geany_string { color:#008000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_string_1 { color:#0090BF; background-color:#DAF2F2; font-weight:normal; font-style:normal; }
.geany_string_2 { color:#008000; background-color:#DAF2F2; font-weight:normal; font-style:normal; }
.geany_string_eol { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_tag { color:#7FAAFF; background-color:#DAF2F2; font-weight:normal; font-style:normal; }
.geany_type { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_value { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
.geany_white_space { color:#000000; background-color:#000000; font-weight:normal; font-style:normal; }
