/*
------------------------------------------------------------------

 Geany Cosmetics css

 Author : Faust MARIA DE AREVALO <faust@club-internet.fr>
 GitHub :
 Under MIT Licence

------------------------------------------------------------------
*/

.main {
	font-family: "Source Sans Pro", "Calibri", "Arial";
	font-size: 0.8em;
	color: #003050;
	text-align: justify;
}

/*--------------------------------------------------------------------------------*/
.lang_bar {
	display:block;
	margin:1em;
	background-color:#f0f8fA;
	text-align:right;
	
}

.div_other_lang {
	display:inline;
	background-color: #4080A0;
	color: #FFFFFF;
	font-family:"impact";
	font-size:0.8em;
	border-radius: 0.5em 0em 0.5em 0em;
	padding:0.5em;
	margin:0.1em;
}

.div_other_lang:hover {
	background-color: #FF4020;
}

.div_other_lang:active {
	background-color: #ff8000;
}

/*--------------------------------------------------------------------------------*/
.card {
 	box-shadow: 0px 5px 8px #80808080;
}

.div_section {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	overflow-y: auto;
	min-width: 730px;
}

.doRender {
	visibility:visible;
	display:block;
}
.doHide{
	visibility:hidden;
	display:none;
}


a { 
	color: #003050;
	text-decoration: underline;
}
a:hover {
	color: #FFFFFF;
	background-color: #4080A0;
}
a:active {
	color: #FFFFFF;
	background-color: #ff8000;
}
a:visited {
	color: #003050;
	background-color: #ff8000;
}

/*--------------------------------------------------------------------------------*/
.CellLeft {
	display:table-cell;
	width: 75%;
	height: 512px;
	overflow-y: auto;
}

.CellRight{
	display:table-cell;
	width: 25%;
}

.TabBar {
	display: block;
}

.tab {
	display:inline-block;
	background-color: #FFFFFF;
	color: #4080A0;	
	border-radius: 5px 5px 0px 0px;
	border: 1px solid #808080;
	border-bottom: 0px;
	padding: 0.45em 1.5em 0.25em 1.5em;
	font-weight: bold;
}

.tab_active {
	display:inline-block;
	background-color: #FFc080; 
	color: #4080A0;	
	border-radius: 5px 5px 0px 0px;
	border: 1px solid #808080;
	border-bottom: 0px;
	padding: 0.6em 1.5em 0.25em 1.5em;
	font-weight: bold;
}

.AllDocuments{
	display: block;
	font-size : 0;	/* hack for white space */
}

.geany_editor {
	width: 480px;
	height: 720px;
	white-space: pre;
	text-align:left;
	overflow:auto;
}

.geany_margin1 {
	text-align:left;
	overflow:hidden;
	width: 32px;
	height: 720px;
}

.geany_margin2 {
	text-align:center;
	overflow:hidden;
	width: 16px;
	height: 720px;
}


.codeFont {
	font-family: "monospace", "Monospace", "Consolas", "Arial";
	font-size:12px;
}

.tableConfig {
	border: 1px solid #000000;
	border-collapse: collapse; 
	font-size:0.8em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.EditionButton {
	font-size:1.5em;
	font-weight:bold;
	width:100%;
	padding:0.5em;
}


